@import 'vars';
@import 'global';
@import 'fonts';

//header start

.header__top{
    background-color: #eef1f3;
    &-inner{
        display: flex;justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }
    &-info{
        display: flex;
        align-items: center;
        & > div + div{
            margin-left: 50px;
        }
    }
    &-btn{
        background-color: $blue;
        font-size: 14px;
        line-height: 28px;
        padding: 5px 17px 3px;
        border-radius: 17px;
        a{
            color: #fff;
            position: relative;
        }
    }
    &-icons{
        display: flex;
        align-items: center;
        a{
            position: relative;
            div{
                position: absolute;
                top: -16px;
                width: 25px;
                height: 25px;
                color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        a + a{
            margin-left: 30px;
        }
    }
    &-profile{
        display: flex;
        align-items: center;
    }
}
.quantity__alarm{
    background-color: #ff6a6c;
    right: -15px;
}
.quantity__envelope{
    background-color: #62d03b;
    right: -18px;
}
.quantity__cart{
    background-color: $blue;
    right: -19px;
}
.header__profile{
    &-avatar{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #7c7979;
        margin-right: 20px;
    }
    &-name{
        display: block;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: #333;
    }
    &-balance{
        display: block;
        font-size: 15px;
        line-height: 22px;
        color: $blue;
    }
}
.header__inner{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-menu{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        a{
            color: #333;
        }
        li{
            display: inline-block;
        }
        li + li{
            margin-left: 35px;
        }
    }
    &-form{
        max-width: 360px;
        width: 100%;
        position: relative;
        input{
            display: block;
            height: 45px;
            width: 100%;
            border-radius: 22px;
            border: 1px solid #d9dfe5;
            font-size: 15px;
            line-height: 30px;
            outline: none;
            padding-left: 25px;
            padding-right: 60px;
        }
        button{
            position: absolute;
            right: 0;
            top: 0;
            border: none;
            background-color: $blue;
            border-radius: 22px;
            height: 45px;
            width: 70px;
            cursor: pointer;
            outline: none;
            &::after{
                content: "";
                background-image: url(../images/icons/magnifier.svg);
                position: absolute;
                height: 17px;
                width: 17px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

//header end
//search start
.search{
    background-image: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
}
.search__inner{
    color: #f3f3f8;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 230px;
    position: relative;
    &-title{
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        font-size: 60px;
        span{
            font-weight: 700;
            display: block;
            margin-bottom: 35px;
        }
    }
    &-descr{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 70px;
    }
    &::before{
        content: "";
        position: absolute;
        bottom: -52px;
        width: calc(100% - 30px);
        border-radius: 6px;
        background-color: rgba(255, 255, 255, .5);
        height: 135px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: -39px;
        width: calc(100% - 60px);
        border-radius: 6px;
        background-color: rgba(255, 255, 255, .5);
        height: 135px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    &-form{
        position: absolute;
        background-color: #fff;
        border-radius: 6px;
        width: 100%;
        padding: 40px;
        bottom: -65px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        z-index: 1;
        form{
            display: flex;
            justify-content: center;
            input{
                height: 55px;
                background-color: transparent;
                border: 1px solid #dcdcdc;
                border-radius: 6px 0 0 6px;
                width: 100%;
                outline: none;
                padding: 0;
                padding-left: 20px;
                padding-right: 70px;
            }
            .input__list{
                max-width: 200px;
                background-image: url(../images/icons/chevron-down.svg);
                background-repeat: no-repeat;
                background-position: 165px 25px;
                border: 1px solid #dcdcdc;
                border-left: none;
                border-radius: 0 6px 6px 0;
                cursor: pointer;
                &::-webkit-calendar-picker-indicator{
                    display: none;
                }
            }
        }
    }
    button{
        border-radius: 6px;
        background-color: $blue;
        margin-left: 30px;
        min-width: 220px;
        border: none;
        padding: 0;
        outline: none;
        height: 55px;
        cursor: pointer;
        color: #fff;
    }
}
.search__button{
    padding: 20px 30px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 40px;
    transition: all .3s;
    &:hover{
        background-color: #fff;
        color: $blue;
    }
}

//search end
//quality

.quality__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 190px;
    padding-bottom: 120px;
}
.quality__item{
    text-align: center;
    max-width: 360px;
    padding: 40px 30px;
    border-radius: 6px;
    &:nth-child(2){
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &-title{
        margin: 35px 0;
        font-size: 24px;
    }
    &-descr{
        color: #555;
        line-height: 30px;
    }
}

//end quality
//start slider__popular

.popular__inner, .followers__slider{
    position: relative;
    .slick-prev, .slick-next{
        font-size: 0;
        background-color: transparent;
        border: none;
        height: 45px;
        width: 55px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $violet;
        position: absolute;
        top: -128px;
        z-index: 1;
        cursor: pointer;
        outline: none;
    }
    .slick-prev{
        background-image: url(../images/icons/chevron-left.svg);
        border-radius: 30px 0 0 30px;
        right: 83px;
    }
    .slick-next{
        background-image: url(../images/icons/chevron-right.svg);
        border-radius: 0 30px 30px 0;
        right: 30px;
    }
}
.slider__popular{
    background-color: $bg-dark;
    padding: 120px 0;
}
.title__box{
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        font-size: 30px;
        padding: 40px 30px;
        background-color: #fff;
        border-radius: 4px;
        margin-bottom: 50px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

}
.popular__item{
    display: flex !important;
    justify-content: center;
}
.product__item{
    background-color: #fff;
    min-height: 450px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    &-image{
        background-color: #4e5760;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 450px;
        cursor: pointer;

        &:hover + .product__item-image--hover{
            opacity: 1;
        }
        &--hover{
            background-image: linear-gradient( 270deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 450px;
            top: 0;
            left: 0;
            background-color: transparent;
            opacity: 0;
            cursor: pointer;
            transition: all .3s;
            &:hover{
                opacity: 1;
            }
            .hover__btn{
                a{
                    border: 1px solid #fff;
                    border-radius: 30px;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 15px 30px;
                    margin: 0px 4px;
                    color: #fff;
                    transition: all .3s;
                    &:hover{
                        background-color: #fff;
                        color: $blue;
                    }
                }
            }
        }
    }
    &-text{
        padding: 45px 45px 0 45px;
        width: 50%;
    }
    &-title{
        font-weight: 500;
        font-size: 24px;
    }
    &-descr{
        line-height: 30px;
        color: #555;
    }
    &-parametr{
        display: flex;
        margin: 15px 0;
    }
    &-manager{
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
    &-category{
        display: flex;
        align-items: center;
    }
    &-subcategory{
        padding: 40px 0;
        border-bottom: 1px solid #ececec;
        a{
            font-size: 15px;
            line-height: 25px;
            padding: 0 15px;
            background-color: #f1f3f6;
            border-radius: 20px;
            color: #868c96;
        }
        a + a{
            margin-left: 5px;
        }
    }
    &-info{
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-price{
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        background-color: $blue;
        line-height: 30px;
        padding: 0 15px;
        border-radius: 15px;
        margin-right: 20px;
    }
    &-inner{
        display: flex;
        align-items: center;
    }
    &-like{
        margin-right: 10px;
    }
    &-cart{
        margin-right: 10px;
    }
}
.like__qyantity{
    margin-right: 20px;
    color: #555;
    font-size: 15px;
}
.cart__quantity{
    margin-right: 20px;
    color: $blue;
    font-size: 15px;
}
.item__manager{
    &-avatar{
        height: 30px;
        width: 30px;
        background-color: #4e5760;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin-right: 10px;
    }
    &-name{
        font-size: 15px;
        color: #000;
    }
}
.item__category-name{
    font-size: 15px;
    color: $violet;
    margin-left: 10px;
}

//end slider__popular
//start relise
.relise{
    background-color: $bg-light;
    padding: 120px 0;
    &__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;   
    }
}
.relise__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-right: 18px;
    .relise__newest-nav{
            display: flex;
            align-items: center;
        &--descr{
            color: #747b86;
            font-size: 16px;
        }
        &--btn{
            position: relative;
            &:hover > .relise__newest-nav--list{
                z-index: 1;
                opacity: 1;
            }
            svg{
                cursor: pointer;
                display: block;
            }
        }
        &--list{
            transition: all .5s;
            opacity: 0;
            z-index: -1;
            font-size: 15px;
            padding: 30px 30px;
            width: 185px;
            position: absolute;
            background-color: #fff;
            box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
            border-radius: 3px;
            right: -10px;
            top: 45px;
            &::after{
                content: "";
                position: absolute;
                border: 10px solid transparent;
                border-bottom: 15px solid #fff;
                top: -25px;
                width: 20px;
                right: 15px;
            }
            li + li{
                margin-top: 10px;
            }
            a{
                color: #747b86;
                display: block;
                transition: all .3s;
                &:hover{
                    color: $blue;
                }
            }
        }
    }
}
.relise__btn{
    padding: 30px;
    display: flex;
    button{
        display: block;
        font-size: 15px;
        color: #747b86;
        padding: 5px 20px;
        border-radius: 15px;
        background-color: $bg-light;
        transition: all .3s;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover{
            background-color: $blue;
            color: #fff;
        }
        & + button{
            margin-left: 8px;
        }
    }
}
.relise__item{
    display: block;
    max-width: 360px;
    height: auto;
    margin-bottom: 30px;
    .cart__quantity{
        margin-right: 0;
    }
    &:nth-child(even) .product__item-image{
        background-color: #3c6490;
    }
    .product__item{
        &-image{
            width: auto;
            height: 230px;
            background-color: #009688;
            &--hover{
                height: 230px;
                width: 100%;
                .hover__btn{
                    font-size: 15px;
                }
            }
        }
        &-text{
            width: 100%;
            padding: 0;
        }
        &-title{
            font-size: 20px;
            padding: 30px 30px 0px 30px;
        }
        &-parametr{
            margin: 15px 30px 0;
        }
        &-descr{
            padding: 30px;
            border-bottom: 1px solid #ececec;
        }
        &-info{
            margin: 15px 30px;
        }
        &-price{
            margin-right: 15px;
            background-color: #e6f1fd;
            color: $blue;
        }
    }
}
.product__cart{
    display: flex;
}
.relise__button-end{
    text-align: center;
    margin-top: 30px;
}
.relise__button-all{
    padding: 20px 30px;
    border: none;
    background-color: $blue;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
}
//end relise
//start folowers
.followers{
    padding: 120px 0 90px;
    background-color: $bg-dark;
    &__slider{
        .slick-prev, .slick-next{
            background-color: $blue;
        }
    }
}
//end folowers
