@import 'vars';
@import 'global';
@import 'fonts';

.header__top{
    background-color: #eef1f3;
    &-inner{
        display: flex;justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }
    &-info{
        display: flex;
        align-items: center;
        & > div + div{
            margin-left: 50px;
        }
    }
    &-btn{
        background-color: $blue;
        font-size: 14px;
        line-height: 28px;
        padding: 5px 17px 3px;
        border-radius: 17px;
        a{
            color: #fff;
        }
    }
    &-profile{
        display: flex;
        align-items: center;
    }
}
.header__profile{
    &-avatar{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #7c7979;
        margin-right: 20px;
    }
    &-name{
        display: block;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: #333;
    }
    &-balance{
        display: block;
        font-size: 15px;
        line-height: 22px;
        color: $blue;
    }
}
.header__inner{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-menu{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        a{
            color: #333;
        }
        li + li{
            margin-left: 35px;
        }
    }
    &-form{
        max-width: 360px;
        width: 100%;
        position: relative;
        input{
            display: block;
            height: 45px;
            width: 100%;
            border-radius: 22px;
            border: 1px solid #d9dfe5;
            font-size: 15px;
            line-height: 30px;
            outline: none;
            &::placeholder{
                padding-left: 25px;
                padding-right: 60px;
            }
        }
        button{
            position: absolute;
            right: 0;
            top: 0;
            border: none;
            background-color: $blue;
            border-radius: 22px;
            height: 45px;
            width: 70px;
            cursor: pointer;
            outline: none;
            &::after{
                content: "";
                background-image: url(../images/icons/search-icon.png);
                position: absolute;
                height: 16px;
                width: 16px;
                left: 50%;
                transform: translateX(-50%)
            }
        }
    }
}
.search{
    background-image: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
}
.search__inner{
    color: #f3f3f8;
    text-align: center;
    padding-top: 190px;
    padding-bottom: 230px;
    position: relative;
    &-title{
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        font-size: 60px;
        line-height: 70px;
        span{
            font-weight: 700;
            display: block;
            margin-bottom: 50px;
        }
    }
    &-descr{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 70px;
    }
    &-form{
        position: absolute;
        bottom: 0;
        background-color: #fff;
        border-radius: 6px;
        width: 100%;
        padding: 40px;
        bottom: -65px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        form{
            display: flex;
            justify-content: space-between;
            div{
                position: relative;
                border-radius: 6px;
                border: 1px solid #dcdcdc;
                width: 100%;
                display: flex;
                justify-content: space-between;
                input{
                    border: none;
                    height: 55px;
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    outline: none;
                    &::placeholder{
                        padding-left: 20px;
                    }
                    & + input{
                        border-left: 1px solid #dcdcdc;
                    }
                }
                .input__list{
                    width: 200px;
                    background-image: url(../images/icons/arrow-down.png);
                    background-repeat: no-repeat;
                    background-position: 150px 25px;
                    cursor: pointer;
                    &::-webkit-calendar-picker-indicator{
                        display: none;
                    }
                }
            }
        }
        button{
            border-radius: 6px;
            background-color: $blue;
            margin-left: 30px;
            width: 225px;
            border: none;
            padding: 0;
            outline: none;
            cursor: pointer;
        }
    }
    &-shadow1{
    position: absolute;
    width: calc(100% - 30px);
    margin: 0 15px;
    height: 50px;
    border-radius: 6px;
    background-color: rgba(250, 250, 250, .5);
    bottom: 35px;
    }
    &-shadow2{
        position: absolute;
        width: calc(100% - 60px);
        margin: 0 30px;
        height: 50px;
        border-radius: 6px;
        background-color: rgba(250, 250, 250, .5);
        bottom: 48px;
    }
}
.search__button{
    padding: 20px 30px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 40px;
    &:hover{
        background-color: #fff;
        color: $blue;
        transition: all .5s;
    }
}